@model AntoineBlog.Models.ContactMessage
@{
}


<section id="hero" class="module-hero module-parallax module-overlay-dark-1" data-background="/Images/road-blg.png">
    <!-- HERO TEXT -->
    <div class="hero-caption">
        <div class="hero-text hero-t-align">
            <h1 class="hero-title m-t-70 m-b-0 ">Antoine's Journey</h1>
            <h3 class="hero-subtitle m-b-20">toward the world of software</h3>
        </div>
    </div>
    <!-- /HERO TEXT -->
</section>


    <main class="bcolor">
    <!-- CONTACT -->
        <section class="container view-content">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-1 text-center technologies">
                    <img src="~/Images/icon1.png" class="img-responsive img-circle" alt="just blue">
                    <img src="~/Images/icon2.png" class="img-responsive img-circle" alt="just brown">
                </div>
                <div class="col-sm-6 col-sm-offset-1">
                    <h1>About this Blog</h1>
                    <h4 class="text-muted">This blog... </h4>
                    <p>This blog was created as part of some projects we had to complete for the Coder Foundry software development program.  It was built using C#, ASP.NET MVC, Entity framework, Bootstrap and include many functions such as create post, update, delete, search, pagination, comment and login as admin/moderator.</p>
                    
                    <a href="http://jantoine-site.azurewebsites.net">Check out my portfolio</a>
                </div>
            </div>
        </section>
</main>
<!-- /CONTACT -->
