
@{
    ViewBag.Title = "Info";
}
<main>
    <section class="container container-fluid view-content">


        <h2>@ViewBag.Title</h2>
        <h6>@ViewBag.Message</h6>

        <a href="@Url.Action("Index", "Posts")" class="btn btn-round btn-dark">Back to All Posts</a>

    </section>
</main>